In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
public_best = pd.read_csv('predict/smote/part_iterative_svm_26_ver2.csv')

In [7]:
best = pd.read_csv('predict/smote/part_iterative_tomek_2455.csv')
deep = pd.read_csv('data/submit5.csv')

In [8]:
deep = deep.rename(columns={'Y_LABEL':'Y'})

In [9]:
deep

             ID  Y
0     TEST_0000  0
1     TEST_0001  0
2     TEST_0002  0
3     TEST_0003  0
4     TEST_0004  1
...         ... ..
6036  TEST_6036  0
6037  TEST_6037  0
6038  TEST_6038  0
6039  TEST_6039  0
6040  TEST_6040  0

[6041 rows x 2 columns]

In [18]:
sum(deep.Y | public_best.Y_LABEL)

862

In [19]:
df = pd.concat([public_best, deep.iloc[:,1]],axis = 1);df

             ID  Y_LABEL  Y
0     TEST_0000        0  0
1     TEST_0001        0  0
2     TEST_0002        0  0
3     TEST_0003        0  0
4     TEST_0004        0  1
...         ...      ... ..
6036  TEST_6036        0  0
6037  TEST_6037        0  0
6038  TEST_6038        0  0
6039  TEST_6039        0  0
6040  TEST_6040        0  0

[6041 rows x 3 columns]

In [20]:
public_best['Y_LABEL'] = df['Y_LABEL'] | df['Y']
public_best

             ID  Y_LABEL
0     TEST_0000        0
1     TEST_0001        0
2     TEST_0002        0
3     TEST_0003        0
4     TEST_0004        1
...         ...      ...
6036  TEST_6036        0
6037  TEST_6037        0
6038  TEST_6038        0
6039  TEST_6039        0
6040  TEST_6040        0

[6041 rows x 2 columns]

In [15]:
sum(public_best.Y_LABEL == best.Y_LABEL)

5336

In [21]:
public_best.Y_LABEL.sum()

862

In [12]:
best.Y_LABEL.sum()

896

In [22]:
public_best.to_csv('predict/public_best_deep_blending.csv',index = False)